<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>ウェブコンピューティング　用語一覧</title>
  <meta name="description" content="HTMLとCSSの用語説明" />
  <link rel="stylesheet" href="main.css" />
</head>

<body>
  <h1>授業に登場する用語一覧</h1>
  <p>リンクのないコンテンツは準備中です。</p>
  <div style="margin: 20px auto">
    <label>絞り込みキーワード：<input v-model="keyword"></label>
  </div>
  <div class="container">
    <div v-for="item of selectedPages">
      <a v-if="item.ready" :href="item.url">{{item.title}}</a>
      <span v-else>{{item.title}}</span>
      </template>
    </div>

    <script src="https://unpkg.com/petite-vue"></script>
    <script>
      PetiteVue.createApp({
        keyword: '',
        get selectedPages() {
          if (this.keyword) {
            return this.pages.filter((page) => page.keywords.includes(this.keyword));
          } else {
            return this.pages;
          }
        },
        pages: [
          {
            url: 'index2.html',
            title: 'label要素',
            keywords: ['label', 'input', 'for'],
            ready: true,
          },
          {
            url: 'index3.html',
            title: 'リンクの書き方',
            keywords: ['a', 'href', 'パス'],
            ready: true,
          },
          {
            url: 'index4.html',
            title: 'パディングとマージン',
            keywords: ['padding', 'margin', 'auto', 'border'],
            ready: true,
          },
          {
            url: 'index5.html',
            title: 'displayの区別の仕方',
            keywords: ['display', 'inline', 'block', 'inline-block'],
            ready: false,
          },
          {
            url: 'index6.html',
            title: 'テーブルの作成方法',
            keywords: ['table', 'td', 'th', 'tr', 'rowspan', 'colspan'],
            ready: true,
          },
          {
            url: 'index7.html',
            title: '画像の挿入の仕方',
            keywords: ['img', 'src', 'パス'],
            ready: false,
          },
          {
            url: 'index8.html',
            title: 'article要素',
            keywords: ['article', 'section'],
            ready: false,
          },
          {
            url: 'index9.html',
            title: 'idとclass',
            keywords: ['id', 'class'],
            ready: false,
          },
          {
            url: 'index10.html',
            title: '疑似要素の組み合わせ',
            keywords: ['first-letter', 'first-line', 'before', 'after', 'content'],
            ready: false,
          },
        ]
      }).mount();
    </script>

</html>