@charset "UTF-8";

body {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

h1 {
  color: coral;
  text-align: center;
  margin-bottom: 50px;
  border-bottom: solid 4px coral;
  padding-bottom: 4px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container div {
  background-color: royalblue;
  text-align: center;
  line-height: 100px;
  width: 220px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.container div a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  background-color: #fcfcaa;
}

img {
  width: 100%;
}

a[href="index.html"] {
  font-weight: bolder;
  text-decoration: none;
  display: block;
  margin: 50px auto 0;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
}
